<div class="container">
  <h1>Adminstration Page</h1>
  <p>Welcome to the adminstration page, <strong><%= @current_user.matricNo %></strong>.</p>
  <p>Select an option:</p>
  <ul>
    <li>
      <%= link_to "Manage Users",
        { controller: "users", action: "index" },
        class: "btn btn-primary" %>
    </li>
    <li>
      <%= link_to "Manage Courses",
        { controller: "courses", action: "index" },
        class: "btn btn-primary" %>
  </li>
  </ul>
</div>
