<div class="container">
  <h1>Ballot Tips</h1>
  <p><b>Step 1:</b> Think of what you want to ballot.</p>
  <p><b>Step 2:</b> Try to ballot.</p>
  <p><b>Step 3:</b> ???</p>
  <p><b>Step 4:</b> PROFIT!</p>
</div>
