<div class="container">
  <br>
  <h2>Step 1 of 2: Selecting tutorial slots to ballot</h2>
  <p>
  	In step 1, select the tutorial slots that you wish to ballot for,
  	<br>by clicking on the options on the left column.
  	<br>Selected options will turn green and show up on the timetable preview.
  	<br>You will rank your selected options in the next step.
  </p>
  <br>

  <h2>Show slots that clashes with lectures</h2>
  <p>
  	When the checkbox "Show slots that clashes with lectures" is selected,
  	<br>non-selectable tutorial slot options will be shown in red.
  	<br>These tutorial slots may not be selected as they clash with your lecture slots.
  	<br>
  	<br>You may deselect this checkbox to hide non-selectable tutorial slot options and reduce clutter.
  </p>
  <br>

  <h2>Your timetable preview</h2>
  <p>
  	When you hover your cursor over the tutorial slot options,
  	<br>these slots will appear in your timetable preview on the right column.
  	<br>Use this visualisation to make informed choices.
  	<br>
  	<br>Orange slots indicate Lecture slots.
  	<br>Red slots indicate non-selectable tutorial slots that clashed with a Lecture.
  	<br>Blue slots indicate the options being highlighted.
  </p>
  <br>

  <h2>Finishing step 1</h2>
  <p>
  	When you have selected all your preferred tutorial slots to ballot for,
  	<br>proceed on to step 2 by clicking on the "Next" button at the top.
  </p>
</div>
