<div class="container">
  <br>
  <h1>Tutorial Balloting</h1>
    There are a total of two iterations:
    <ul>
  	  <li><b>Iteration 1</b> is conducted for ECE, Centre for Future Graduates, and selected Physics Level-1000 modules.</li>
  	  <li><b>Iteration 2</b> is conducted for all other modules except for registrations conducted by individual faculties.</li>
    </ul>
    Each iteration consists of two rounds (<b>Round 1A</b> and <b>1B</b>) of Indication of Preferences (ranked).
    <br>Before each round closes, you may add or edit your preferences at any time using this system.
    <br>At the end of each round, priority for allocation of each tutorial slot is given to the user who has indicated a higher rank.
    <br>
    <br>Before the end of each iteration, you may participate in the following:
    <ul>
      <li><b>Online add/drop/swap</b>: You may add or drop tutorial slots depending on availability, or swap with another willing party.</li>
      <li><b>Manual tutorial registration</b>: Manual tutorial allocation may be done by the department if you are unable to get any tutorial slot.</li>
    </ul>
    <br>
  <br>

  <h1>Balloting Tips</h1>
  <ul>
    <li>While you may have strong preferences for multiple tutorial slots for a certain module, 
	<br>it is important to give priority to have allocation of tutorials slots for all your modules.</li>
	<br>
	<li>Tutorial slots in the afternoon are usually more popular than those in the morning or evening,
	<br>therefore higher ranks should be given if the slot is of high importance to you.</li>
	<br>
	<li>Some tutorials are only held on odd/even weeks, plan your timetable wisely to ease your weekly workload.</li>
	<br>
	<li>Remember to set aside some time for meal breaks to replenish yourself between long periods of lessons.</li>
  </ul>
</div>
