<div class="container">
  <br>
  <h2>Step 2 of 2: Rank your tutorial slots choices</h2>
  <p>
  	In step 2, rank the tutorial slots which you have selected in the previous step,
  	<br>by dragging and placing the options on the left column onto their respective positions 
  	<br>in top-to-bottom descending order, with "1" being the highest rank.
  	<br>The ranks will be updated each time an option is placed, under the "#" heading on the left.
  </p>
  <br>

  <h2>Your timetable preview</h2>
  <p>
  	The timetable preview on the right column shows all the selected tutorial slots.
  	<br>As your rank your tutorial slots choices, the top-right corner of each slot
  	<br>will be updated with the current rank number.
  	<br>
  	<br>Orange slots indicate Lecture slots.
  	<br>Blue slots indicate the options being highlighted.
  </p>
  <br>

  <h2>Finishing step 2</h2>
  <p>
  	Once you are satisfied with your tutorial slots rankings,
  	<br>click on the "Save" button to save your preferences.
  	<br>
  	<br>This completes your tutorial balloting registration.
  	<br>You may still edit your choices anytime before the system closes.
  </p>
</div>
