/*
	timetable styles
*/
#timetable-header-wrapper {
	visibility: hidden;
}
#timetable-header {
	visibility: visible;
}
#timetable-header thead {
	line-height: 1em;
}
#timetable {
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}
#timetable tbody th div {
	float: right;
	margin-right: .25em;
	text-transform: uppercase;
}

/*
	borders
*/
#timetable-header thead th[colspan="2"] {
	border-bottom: 1px solid #e5e5e5;
}
#timetable-header thead th:first-child {
	border-bottom: 0;
}
#timetable tbody th,
#timetable tbody td:nth-of-type(2n) {
	border-right: 1px solid #e5e5e5;
}
#timetable tbody tr:last-child td {
	border-bottom: 1px solid #e5e5e5;
}

/*
	base period style
*/
#timetable .period {
	position: relative;
	height: inherit;
	border-radius: .25rem;
	background-color: #e5e5e5;
	box-shadow: inset 0px 0px 0px 1px #999999;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#timetable .period .inner-content {
	padding: .5em;
	font-size: x-small;
	overflow: hidden;
	white-space: nowrap;
}
#timetable .period span {
	display: block;
}

/*
	custom period styles
*/
#timetable .period.selected {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
#timetable .period.highlight {
	background-color: #5bc0de;
	box-shadow: inset 0px 0px 0px 1px #0275d8;
}
#timetable .period.clash.highlight {
	background-color: #de5b5b;
	box-shadow: inset 0px 0px 0px 1px #d80202;
	opacity: 0.7;
	filter: alpha(opacity=70);
	color: #ffffff;
}
#timetable .period.selected.highlight {
	color: #ffffff;
}
#timetable .period.lecture {
	opacity: 1.0;
	filter: alpha(opacity=100);
	border-radius: 0;
	background-color: #f9bb7b;
}

/* add more cases if required */
#timetable .period.mins-30 { width: 100%; }
#timetable .period.mins-60 { width: 200%; }
#timetable .period.mins-90 { width: 300%; }
#timetable .period.mins-120 { width: 400%; }
#timetable .period.mins-150 { width: 500%; }
#timetable .period.mins-180 { width: 600%; }
#timetable .period.mins-210 { width: 700%; }
#timetable .period.mins-240 { width: 800%; }
#timetable .period.mins-270 { width: 900%; }
#timetable .period.mins-300 { width: 1000%; }