#timetable {
	width: 100%;
	table-layout: fixed;
	font-size: .5em;
	border-collapse: separate;
}

#timetable thead th div {
	text-align: right;
	margin-right: -1.2em;
}

#timetable tbody th div {
	float: right;
	margin-right: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
    word-wrap: break-word;
	width: 0;
}

#timetable tbody th,
#timetable tbody td:nth-of-type(2n) {
	border-right: 1px solid #e5e5e5;
}

#timetable thead th[colspan="2"] {
	border-bottom: 1px solid #e5e5e5;
}

#timetable tbody td {
	border-bottom: 1px solid #e5e5e5;
	height: 10em;
	padding: 0;
}

#timetable .period {
	position: relative;
	height: 100%;
	border-radius: 4px;
	background-color: #e5e5e5;
}

#timetable .period span {
	display: block;
}

#timetable .period.t030 { width: 100%; }
#timetable .period.t100 { width: 200%; }
#timetable .period.t130 { width: 300%; }
#timetable .period.t200 { width: 400%; }
#timetable .period.t230 { width: 500%; }
#timetable .period.t300 { width: 600%; }

#timetable .period.style-faded {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#timetable .period.style-hidden {
	visibility: hidden;
}
#timetable .period.style-selected {
	visibility: visible;
	opacity: 1.0;
	filter: alpha(opacity=100);
}
#timetable .period.style-highlight {
	visibility: visible;
	background-color: #5bc0de;
	color: #ffffff;
}
