#timetable-preview {
	width: 100%;
	table-layout: fixed;
	font-size: .5em;
}

#timetable-preview .timetable-heading th div {
	text-align: right;
	margin-right: -1.2em;
}

#timetable-preview .timetable-row th div {
	float: right;
	margin-right: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
    word-wrap: break-word;
	width: 0;
}

#timetable-preview .timetable-row th,
#timetable-preview .timetable-row td:nth-of-type(2n) {
	border-right: 1px solid #e5e5e5;
}

#timetable-preview td {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	height: 10em;
}