// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tutorial-list tbody tr {
  cursor: pointer;
}

#tutorial-list tbody tr:hover {
  background: rgba(102, 0, 255, 0.5);
  color: #ffffff;
}

#tutorial-list tbody.not-sortable tr {
  cursor: inherit;
  background: inherit;
  color: inherit;
}

#tutorial-options .card hr {
  margin: .25rem;
  border-top: 1px solid rgba(0,0,0,.2);
}

#tutorial-options .card p {
  margin-bottom: 0;
}

#tutorial-options .card {
  cursor: pointer;
  width: 100%;
}

#tutorial-options .card.selected {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}

#tutorial-options .card.disabled {
  background-color: #de5b5b;
  border-color: #d80202;
  color: #ffffff;
  cursor: not-allowed;
}

table {
  table-layout: fixed;
  width: 100%;
}

.inner-table tr td {
  border-top: 0;
  padding: 0 0 1.5rem 0;
}

.inner-table tr td:nth-child(2) {
  padding-left: .75rem;
}

#timetable .period .label {
  position: absolute;
  z-index: 1;
  right: 0;
  background: rgba(102, 0, 255, 0.5);
}

#timetable-preview {
  background-color: #ffffff;
}

.back-to-top {
  display: block;
  cursor: pointer;
  text-align: right;
  margin-top: 1rem;
  margin-bottom: -.5rem;
}