// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tutorial-list tbody tr {
  cursor: pointer;
}

#tutorial-list tbody tr:hover {
  background: rgba(102, 0, 255, 0.5);
  color: #ffffff;
}

#tutorial-options .card {
  cursor: pointer;
}

#tutorial-options .card.selected {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}

#tutorial-options .card.disabled {
  background-color: #de5b5b;
  border-color: #d80202;
  color: #ffffff;
  cursor: not-allowed;
}

#tutorial-options .card.hidden {
  display: none;
}

#timetable .period .label {
  display: inline;
  float: right;
  margin-top: .2em;
  margin-right: .2em;
  background: rgba(102, 0, 255, 0.5);
}

#timetable-preview {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  #timetable .inner-content span {
    font-size: 1px;
  }
}
