<%= stylesheet_link_tag "header.css" %>

<div class="header">
    <div class="nav-links">
        <a class="current" href="">Major &amp; Minor</a> | 
        <a href="">Modules</a> | 
        <a href="">Tutorials</a>
    </div>

    <a class="logout-button" href="">Logout</a>
    <%= image_tag("logo.png", :size => "68x23", :alt => "CORS logo", :class => "logo") %>
    <span class="user-id">Matric No</span>
</div>
