<!--
  Extra space for timetable on mobile.
  Because the timetable will not occupy
  page space when it is fixed at the bottom
  on mobile mode, we need to create extra
  space so that the timetable does not
  cover up text at the bottom of the page.

  See timetable.js, windowResized().
-->
<div class="row" id="mobile-timetable-space">
</div>
