<!--
  Allow us to detect whether it is mobile screen or not.

  Also see mobile_detect.js.

  Use 'position:fixed' so that it does not occupy
  page space at all.
-->
<p id="detect-mobile" class="hidden-md-up" style="position: fixed">Mobile</p>
<p id="detect-desktop" class="hidden-sm-down" style="position: fixed">Desktop</p>
